root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{js,scss,haml,html,gradle,properties,yml}]
indent_style = space
indent_size = 2

[src/{main,test}/java/**.java]
indent_style = space
tab_width = 4
